{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- page-banner-start -->
    <div
      class="page-banner"
      style="background-image: url({% static 'images/pagebanner.jpg' %})"
    >
      <div class="wrapper">
        <div class="page-title">
          <h1>Blog Details</h1>
        </div>
      </div>
    </div>
    <!-- page-banner-end -->

    <!-- blog-page-start -->
    {% for details in blogdetails%}
    <section>
      <div class="blog-details-page">
        <div class="wrapper">
          <div class="blog-post">
            <div class="image">
              <div
                class="img"
                style="background-image: url({{details.banner.url}})"
              ></div>
            </div>
            <div class="details">
              <div class="name">
                {{details.title}}
              </div>
              <div class="profile">
                <div
                  class="profile-img"
                  style="background-image: url({{details.author_image.url}})"
                ></div>
                <div class="profile-detaile">
                  <div class="username">{{details.author}}</div>
                  <div class="time">{{details.date}}</div>
                </div>
              </div>
              <p class="desc">
                {{details.description|safe}}
              </p>
            </div>

            
          </div>

          <div class="recent-post">
            <div class="title-blog">Recent Post</div>
            <div class="list">
              {% for recent in recent_blog %}
              <div class="item">
                <div class="recent-image">
                  <div
                    class="img"
                    style="background-image: url({{recent.banner.url}})"
                  ></div>
                </div>
                <div class="name">
                  <a href="#">
                    {{recent.title}}
                  </a>
                </div>
              </div>
              {% endfor %}
              

            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}
    {% endblock %}
    <!-- blog-page-end -->

    